body{
    margin: 0px;
    background:#50e3c2;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    color: #c8c8c8;
}

#add-button {

}

.todo-box {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: auto;
    background: #f7f7f7;
    padding-bottom: 30px;
}

h1 {
    align-self: center;
}

#new-todo-input {
    
}

.striked-through {
    text-decoration: line-through;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
}

.todo-item-name {
    width: auto;
    
}

.delete-button {
    height: 25px;
    width: 25px;
}

.check-box {
    height: 25px;
    width: 25px;
}

.input-container {    
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
}

li {
    text-indent: 0px;
    list-style-type: none;
}