body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    justify-content: center;
    background: silver;
    align-items: center;

    box-shadow: inset 0px 0px 400px ;
}

.image-viewer {
   
    display: flex;
    width: 800px;
    margin-top: 100px;
    margin-bottom: 50px;
    box-shadow: 2px 2px 10px 2px grey;
    justify-content: space-between;

    
}

.arrow-holder {
    display: flex;
    background: lightgrey;
    width: 50px;
    justify-content: center;
    align-items: center;

   
}

#left-arrow:hover {
    cursor: pointer;
}
#right-arrow {
    transform: rotate(0.5turn);
    cursor: pointer;
}


#center {
   
}

#picture-holder {
    display: flex;
    position: relative;
}

#description {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding-left: 20px;

    background: black;
    opacity: 50%;
    font-family: 'Baloo Thambi 2', cursive;
    color: blanchedalmond;

}
#picture {
    height: 500px;
    width: 720px;
    object-fit: cover;
}


#description-header {
   margin-top: 10px;
   margin-bottom: 0px;
}

#description-text {
    margin-top: 0px;
   
}

.thumbnail-container {
    display: flex;
    flex-wrap: wrap;
}

.thumbnail-holder {
    margin: 10px;
    box-shadow: 0 10px 6px -6px black;
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
}
/*A szelektált doboznak nincs felső marginja selected-thumbnalje meg classtoggle hidden*/
/*a thumbnail-holder-1 a szelektált holdert jelenti*/
/*a pizíciója a tool tip miatt relatív*/
.selected {

    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    box-shadow: 0px 10px 6px -6px black;
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
}


.thumbnail-pic {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid lightgray;
   
}

.selected-thumbnail-arrow {
    
    width: 0px;
    height: 0px;
    
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid lightgray;
}

.tooltip-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 80%;

    position: absolute;
    top: -6px;
}

.tooltip-arrow {
    
    width: 0px;
    height: 0px;
    
    border-top:  10px solid black;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid transparent;
    
}

.tooltip {
    color: lightgray;
    background: black;
    padding: 4px;
}



.hidden {
    visibility: hidden;
}