body {
    font-family: 'Henny Penny';
    font-size: 30px;
    color: white;
}
.direction-box {
    width: 300px;
    border: 5px solid blue;
    text-align: center;
    margin: 30px;
}
p {
    padding: 30px;
    margin: auto;
}

.direction-n {
    background:#E67676;
}

.direction-w {
    background: #F2F062;
}

.direction-s {
    background: #A9E6E6;
}

.direction-e {
    background: #7692E4;
}