.container {
    display: flex;
    flex-direction: column;
    width: 500px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.container > div {
    border-bottom: 1px solid black;
}
.container > div:hover{
    background: red;
}

.container > div:last-child{
    border-bottom: 0px;
}