main-container {
    display: flex;
    flex-direction: column;
}

.box-container {
    display: flex;
    padding: 10px;
    border: #4285f4 2px solid;
    margin: 20px;
    width: fit-content;
}
.box-container > div {
    width: 40px;
    height: 40px;
    background: #4285f4;
    margin: 5px;
}

.violet > div {
    background: #643579;
}

.box-container:hover {
    background: #ff6347;

}